<div class="card lg:card-side bg-base-100 shadow-xl h-60 w-full overflow-hidden">
  <figure><img src="https://static.wixstatic.com/media/b432cc_aa6638c09cdd4f42a2ea3a2388ba8960~mv2.png/v1/fill/w_1400,h_539,al_c,q_90,enc_auto/website%20Hero%20banner.png" alt="Album"/></figure>
    <div class="card-body">
      <h2 class="card-title">The Blockspace Hacker House & Co-working</h2>
      <div class="stats bg-white text-primary-content">
  
        <div class="stat">
          <div class="title">Budget</div>
          <div class="stat-value">10,000 USDT</div>
          <div class="stat-actions">
            <button class="btn btn-sm btn-success">Contribute</button>
          </div>
        </div>
        
        <div class="stat">
          <div class="title">Community Funded</div>
          <div class="stat-value">369 Stakers</div>
          <div class="stat-actions">
            <button class="btn btn-sm btn-error">Unstake</button> 
            <button class="btn btn-sm btn-success">Stake</button>
          </div>
        </div>
        
      </div>      
      <div class="card-actions justify-end">
      </div>
    </div>
    
  </div>
  