<div class="card lg:card-side bg-base-100 shadow-xl h-60 w-full overflow-hidden">
  <figure><img class="w-99" src="https://images.unsplash.com/photo-1496449903678-68ddcb189a24?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Album"/></figure>
    <div class="card-body">
      <h2 class="card-title">Put Your Logo on the WebZero Billboard!</h2>
      <div class="stats bg-white text-primary-content">
  
        <div class="stat">
          <div class="title">STARTING BID</div>
          <div class="stat-value">200 USDT</div>
          <div class="stat-actions">
            <button class="btn btn-sm btn-success">STAKE</button>
          </div>
        </div>
        
        <div class="stat">
          <div class="title">HIGHEST BID</div>
          <div class="stat-value">31,337 USDT</div>
          <div class="stat-actions">
            <button class="btn btn-sm btn-error">Unbid</button> 
            <button class="btn btn-sm btn-success">Bid</button>
          </div>
        </div>
        
      </div>      
      <div class="card-actions justify-end">

        <!-- <button class="btn btn-primary w-full">Stake</button> -->
      </div>
    </div>
    
  </div>
  