<!-- <div class="card lg:card-side bg-base-100 shadow-xl">
    <figure><img src="https://pbs.twimg.com/media/GHS7lcmXIAAgffK?format=jpg&name=medium" alt="Album"/></figure>
    <div class="card-body">
      <h2 class="card-title">Pizza Dao Pizza Castle - Pizza Party </h2>
      <div class="stats bg-white text-primary-content">
  
        <div class="stat">
          <div class="title">Budget</div>
          <div class="stat-value">30,000 USDT</div>
          <div class="stat-actions">
            <button class="btn btn-sm btn-success">Contribute</button>
          </div>
        </div>
        
        <div class="stat">
          <div class="title">Community Funded</div>
          <div class="stat-value">421 Stakers</div>
          <div class="stat-actions">
            <button class="btn btn-sm btn-error">Unstake</button> 
            <button class="btn btn-sm btn-success">Stake</button>
          </div>
        </div>
        
      </div>      
      <div class="card-actions justify-end">
      </div>
    </div>
    
  </div>
   -->

   <div class="card lg:card-side bg-base-100 shadow-xl h-60 w-full overflow-hidden">
    <figure><img src="https://pbs.twimg.com/media/GHS7lcmXIAAgffK?format=jpg&name=medium" alt="Album"/></figure>
    <div class="card-body">
      <h2 class="card-title">Pizza Dao Presents: Pizza Castle - Pizza Party </h2>
      <div class="stats bg-white text-primary-content">
  
        <div class="stat">
          <div class="title">Budget</div>
          <div class="stat-value">30,000 USDT</div>
          <div class="stat-actions">
            <button class="btn btn-sm btn-success">Contribute</button>
          </div>
        </div>
        
        <div class="stat">
          <div class="title">Community Funded</div>
          <div class="stat-value">421 Stakers</div>
          <div class="stat-actions">
            <button class="btn btn-sm btn-error">Unstake</button> 
            <button class="btn btn-sm btn-success">Stake</button>
          </div>
        </div>
        
      </div>      
      <div class="card-actions justify-end">
      </div>
    </div>
    
  </div>
