<div class="navbar bg-transparent">
    <div class="flex-1">
      <a href="/" class="btn btn-ghost text-xl">WebZero.events</a>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
      </div>
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img alt="Tailwind CSS Navbar component" src="https://avatars.githubusercontent.com/u/33775474?s=200&v=4" />
          </div>
        </div>

    </div>
  </div>